body {
  margin: 0;
  background: rgba(255, 158, 12, 0.2);
}
body * {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1338px;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header__container {
  display: flex;
  align-items: center;
  padding-top: 38px;
}
@media (max-width: 768px) {
  .header__container {
    padding-top: 10px;
  }
}
@media (max-width: 768px) {
  .header__logo svg {
    width: 120px;
  }
}
.header__burger {
  display: none;
  width: 46px;
  height: 36px;
  margin-left: auto;
  margin-right: 20px;
  background-color: transparent;
  border: none;
}
@media (max-width: 1024px) {
  .header__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .header__burger {
    width: 36px;
    height: 24px;
  }
}
.header__burger span {
  width: 100%;
  height: 2px;
  background-color: #3A3A3A;
}
.header__button {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  color: #FFF;
  background-color: #F03328;
  padding: 17px 43px;
  border-radius: 38px;
  border: 2px solid #F03328;
  transition: all 0.3s;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__button {
    font-size: 18px;
    padding: 12px 24px;
  }
}
.header__button:hover {
  background: transparent;
}
.header__menu {
  margin-left: auto;
  margin-right: 80px;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  display: flex;
  white-space: nowrap;
  gap: 70px;
}
@media (max-width: 1280px) {
  .header__menu {
    margin-right: 60px;
    gap: 50px;
  }
}
@media (max-width: 1024px) {
  .header__menu {
    display: none;
    position: absolute;
    top: 100%;
    right: -45px;
    width: 220px;
    padding: 20px;
    background-color: white;
    flex-direction: column;
  }
}
.header__link {
  position: relative;
  text-decoration: none;
  color: #3A3A3A;
  transition: color 0.3s;
}
.header__link:hover {
  color: #F03328;
}
.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0;
  height: 2px;
  background: #F03328;
  transition: width 0.3s;
}
.header__link:hover::after {
  width: 100%;
}

.hero {
  padding-top: 130px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .hero {
    padding-top: 80px;
  }
}
.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .hero__container {
    flex-direction: column-reverse;
  }
}
.hero__title {
  color: #2D2D2D;
  font-size: 61px;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 1280px) {
  .hero__title {
    font-size: 50px;
  }
}
@media (max-width: 444px) {
  .hero__title {
    font-size: 20px;
  }
}
.hero__tex {
  display: inline-block;
  margin-bottom: 20px;
  width: 214px;
  height: 90px;
  color: #FFF;
  font-size: 58px;
  font-weight: 700;
  line-height: 120%;
  border-radius: 54px;
  padding: 10px 40px;
  box-sizing: border-box;
  transform: rotate(-11.457deg);
  background: linear-gradient(109deg, #FF9E0C -0.93%, #D58000 104.81%);
}
@media (max-width: 444px) {
  .hero__tex {
    width: 170px;
    height: 70px;
    font-size: 45px;
    border-radius: 30px;
  }
}
.hero__text {
  max-width: 568px;
  color: #666;
  font-size: 25px;
  font-weight: 400;
  line-height: 120%;
  margin-top: 16px;
}
@media (max-width: 1280px) {
  .hero__text {
    max-width: 500px;
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .hero__text {
    max-width: 100%;
  }
}
.hero__button {
  margin-top: 18px;
  padding: 17px 43px;
  background: #F03328;
  border: 2px solid #F03328;
  border-radius: 38px;
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  color: #FFF;
  transition: 0.3s ease;
  cursor: pointer;
}
.hero__button:hover {
  background: transparent;
  color: #F03328;
}
.hero__img {
  max-width: 690px;
}
@media (max-width: 1280px) {
  .hero__img {
    max-width: 550px;
  }
}
@media (max-width: 1024px) {
  .hero__img {
    max-width: 100%;
  }
}

.quality {
  margin-top: 84px;
  overflow: hidden;
}
.quality__grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 84px 0;
  gap: 24px;
}
@media (max-width: 922px) {
  .quality__grid {
    flex-wrap: wrap;
  }
}
.quality__item {
  padding: 22px 15px;
  list-style: none;
  width: calc(25% - 18px);
  border-radius: 20px;
  background: #FFF;
  text-align: center;
}
@media (max-width: 922px) {
  .quality__item {
    width: calc(50% - 18px);
  }
}
@media (max-width: 534px) {
  .quality__item {
    width: calc(100% - 18px);
  }
}
.quality__image {
  width: 100px;
  height: 100px;
}
.quality__title {
  margin: 20px auto 16px;
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
@media (max-width: 980px) {
  .quality__title {
    font-size: 20px;
  }
}
.quality__text {
  margin: 0 auto 18px;
  color: #666;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}
@media (max-width: 1160px) {
  .quality__text {
    font-size: 14px;
  }
}
.quality__link {
  width: 100%;
  height: 24px;
  color: #2d2d2d;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  transition: all 0.3s;
}
.quality__link:hover {
  color: #F03328;
}

.advantages {
  margin-top: 80px;
  overflow: hidden;
}
@media (max-width: 690px) {
  .advantages {
    margin-top: 40px;
  }
}
.advantages__container {
  display: flex;
  align-items: flex-start;
  gap: 84px;
  padding-top: 84px;
  padding-bottom: 102px;
}
@media (max-width: 1158px) {
  .advantages__container {
    flex-direction: column;
    align-items: center;
  }
}
.advantages__images {
  max-width: 578px;
}
.advantages__list {
  margin: 0;
  padding: 0;
}
.advantages__intem {
  display: flex;
  align-items: center;
  border-radius: 18px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  gap: 26px;
  padding: 18px 16px;
  background: #FFF;
  margin-top: 41px;
}
.advantages__intem > svg {
  min-width: 90px;
  height: 90px;
}
.advantages__title {
  margin: 0;
  max-width: 639px;
  color: #2D2D2D;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 694px) {
  .advantages__title {
    font-size: 30px;
  }
}
.advantages__item-title {
  margin: 0 0 8px 0;
  color: #000;
  font-size: 31px;
  font-weight: 600;
  line-height: 120%;
}
@media (max-width: 494px) {
  .advantages__item-title {
    font-size: 20px;
  }
}
.advantages__item-text {
  margin: 0;
  color: #404040;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}
@media (max-width: 494px) {
  .advantages__item-text {
    font-size: 10px;
  }
}

.food {
  margin-top: 80px;
  overflow: hidden;
}
.food__grid {
  padding-top: 80px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}
.food__top {
  margin: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.food__min {
  padding: 0 0 48px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.food__price {
  margin-right: 20px;
  color: #000;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.food__item {
  width: calc(33.333% - 17px);
  border-radius: 18px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
}
.food__title {
  color: #000;
  font-size: 31px;
  font-weight: 500;
  line-height: 120%;
}
.food__btn {
  padding: 10px 24px;
  border-radius: 38px;
  color: #FFF;
  background: #F03328;
  border: 2px solid #F03328;
  cursor: pointer;
  transition: all 0.3s;
  flex-shrink: 0;
}
.food__btn:hover {
  background: transparent;
  color: #F03328;
}
@media (max-width: 1354px) {
  .food__btn {
    margin-left: 12px;
  }
}
.food__titl {
  margin: 0 auto;
  max-width: 746px;
  color: #1F1F1F;
  text-align: center;
  font-size: 55px;
  font-weight: 700;
  line-height: 120%;
  white-space: nowrap;
}
.food__text {
  margin: 18px 276px;
  align-self: stretch;
  color: #5C5C5C;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  line-height: 120%;
}

.reviews {
  margin-top: 56px;
  overflow: hidden;
}
.reviews__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews__image, .reviews__card {
  max-width: 50%;
}
.reviews__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
}
.reviews__text {
  color: #3D3D3D;
  font-size: 25px;
  font-weight: 400;
  line-height: 130%;
}
.reviews__dots {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews__dots-wrapper {
  display: flex;
  justify-content: center;
  gap: 9px;
}
.reviews__dots-dvt {
  display: flex;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid red;
  background-color: transparent;
}
.reviews__dots-dvt:hover {
  background-color: red;
}

.footer {
  margin-top: 64px;
  overflow: hidden;
}
.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 80px;
}
.footer__form {
  display: flex;
  gap: 12px;
}
.footer hr {
  border-top: 1px solid rgba(240, 51, 40, 0.2);
}
.footer__input {
  padding: 12px;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  width: 320px;
  height: 44px;
}
.footer__title {
  height: 28px;
  align-self: stretch;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin: 0%;
}
.footer__text {
  width: 524px;
  align-self: stretch;
  color: #5C5C5C;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 8px 0 32px;
}
.footer__button {
  width: 102px;
  height: 44px;
  padding: 12px 24px;
  color: #fdfdff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #FDFDFD;
  border-radius: 8px;
  background: #f03328;
  cursor: pointer;
  transition: all 0.3s;
}
.footer__button:hover {
  background: transparent;
}
.footer__coleumn {
  display: flex;
  padding-left: 80px;
}
.footer__coleumn > .footer__coleumn {
  padding: 0;
}
.footer__coleum {
  display: flex;
  flex-direction: column;
}
.footer__coleum svg {
  margin-left: 7px;
}
.footer__link {
  text-decoration: none;
  color: #5C5C5C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  transition: color 0 0.3s;
  margin: 18px 0 14px 0;
}
.footer__link:hover {
  color: #f03328;
}
.footer__column-title {
  width: 230px;
  color: #1F1F1F;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 16px;
}
.footer__lang {
  display: flex;
  align-items: center;
  width: 100%;
}
.footer__lang-list {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.footer__lang-copy {
  color: #A6A7AB;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-left: auto;
}
.footer__lang-item {
  color: #5C5F66;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

/*# sourceMappingURL=style.css.map */
