body {
  margin: 0;
  background: rgba(255, 158, 12, 0.2);
}
body * {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 38px;
}
.header__button {
  margin-left: 79px;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  color: #FFF;
  background-color: #F03328;
  padding: 17px 43px;
  border-radius: 38px;
  border: 2px solid #F03328;
  transition: all 0.3s;
  cursor: pointer;
}
.header__button:hover {
  background: transparent;
}
.header__menu {
  height: 32px;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  display: flex;
  white-space: nowrap;
  gap: 71px;
}
.header__link {
  position: relative;
  text-decoration: none;
  color: #3A3A3A;
  transition: color 0.3s;
}
.header__link:hover {
  color: #F03328;
}
.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0;
  height: 2px;
  background: #F03328;
  transition: width 0.3s;
}
.header__link:hover::after {
  width: 100%;
}

.hero {
  padding-top: 130px;
  overflow: hidden;
}
.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__title {
  color: #2D2D2D;
  font-size: 61px;
  font-weight: 700;
  line-height: 120%;
}
.hero__tex {
  display: inline-block;
  margin-bottom: 50px;
  width: 214px;
  height: 90px;
  color: #FFF;
  font-size: 58px;
  font-weight: 700;
  line-height: 120%;
  border-radius: 54px;
  padding: 10px 40px;
  box-sizing: border-box;
  transform: rotate(-11.457deg);
  background: linear-gradient(109deg, #FF9E0C -0.93%, #D58000 104.81%);
}
.hero__sard-text {
  color: #2D2D2D;
  text-align: center;
  font-size: 61px;
  font-weight: 700;
  line-height: 120%;
}
.hero__text {
  width: 567.8px;
  color: #666;
  font-size: 25px;
  font-weight: 400;
  line-height: 120%;
  margin-top: 16px;
}
.hero__button {
  margin-top: 18px;
  padding: 17px 43px;
  background: #F03328;
  border: 2px solid #F03328;
  border-radius: 38px;
  color: #FFF;
  transition: 0.3s ease;
  cursor: pointer;
}
.hero__button:hover {
  background: transparent;
  color: #F03328;
}

.quality {
  margin-top: 84px;
  overflow: hidden;
}
.quality__grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 84px;
  gap: 24px;
}
.quality__item {
  padding: 22px 15px 64px;
  list-style: none;
  width: 307px;
  height: 330px;
  border-radius: 20px;
  background: #FFF;
  text-align: center;
}
.quality__image {
  width: 100px;
  height: 100px;
}
.quality__title {
  margin: 20px 33px;
  height: 36px;
  width: 176px;
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.quality__text {
  width: 277px;
  height: 72px;
  color: #666;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  padding-right: 16px;
}
.quality__link {
  width: 100%;
  height: 24px;
  color: #2d2d2d;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  transition: all 0.3s;
}
.quality__link:hover {
  color: #F03328;
}

.advantages {
  margin-top: 80px;
  overflow: hidden;
}
.advantages__container {
  display: flex;
  align-items: flex-start;
  gap: 84px;
  padding: 84px 0 102px;
}
.advantages__intem {
  display: flex;
  align-items: center;
  border-radius: 18px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  gap: 32px;
  padding-left: 15px;
  background: #FFF;
  margin-top: 41px;
}
.advantages__title {
  margin: 0%;
  width: 639px;
  height: 60px;
  color: #2D2D2D;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.advantages__item-title {
  width: 487px;
  align-self: stretch;
  color: #000;
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.advantages__item-text {
  width: 487px;
  height: 78px;
  align-self: stretch;
  color: #404040;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.food {
  margin-top: 80px;
  overflow: hidden;
}
.food__grid {
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}
.food__top {
  padding: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.food__min {
  padding: 0 0 48px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.food__price {
  margin-right: 20px;
  color: #000;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.food__item {
  width: calc(33.333% - 17px);
  border-radius: 18px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
}
.food__title {
  margin-bottom: 26px;
  width: 219px;
  height: 37px;
  color: #000;
  font-size: 31px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.food__btn {
  margin-right: 20px;
  width: 132px;
  height: 44px;
  border-radius: 38px;
  color: #FFF;
  background: #F03328;
  border: 2px solid #F03328;
  cursor: pointer;
  transition: all 0.3s;
}
.food__btn:hover {
  background: transparent;
}
.food__titl {
  margin: 0 276px;
  width: 746px;
  height: 66px;
  color: #1F1F1F;
  text-align: center;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.food__text {
  margin: 18px 276px;
  width: 852px;
  height: 60px;
  align-self: stretch;
  color: #5C5C5C;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.reviews {
  margin-top: 56px;
  overflow: hidden;
}
.reviews__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 75px;
}
.reviews__title {
  width: 458px;
  height: 60px;
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
}
.reviews__text {
  width: 632px;
  height: 192px;
  align-self: stretch;
  color: #3D3D3D;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.reviews__dots {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews__dots-wrapper {
  display: flex;
  justify-content: center;
}
.reviews__dots-dvt {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid red;
  background-color: transparent;
}
.reviews__dots-dvt:hover {
  background-color: red;
}

.footer {
  margin-top: 64px;
  overflow: hidden;
}
.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 80px;
}
.footer__form {
  display: flex;
  gap: 12px;
}
.footer__input {
  padding: 12px;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  width: 320px;
  height: 44px;
}
.footer__title {
  height: 28px;
  align-self: stretch;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin: 0%;
}
.footer__text {
  width: 524px;
  height: 24px;
  align-self: stretch;
  color: #5C5C5C;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 16px 0 0;
}
.footer__button {
  padding: 12px 24px;
  color: #fdfdff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #FDFDFD;
  border-radius: 8px;
  background: #f03328;
  cursor: pointer;
  transition: all 0.3s;
}
.footer__button:hover {
  background: transparent;
}
.footer__coleumn {
  display: flex;
  padding-left: 80px;
}
.footer__coleumn > .footer__coleumn {
  padding: 0;
}
.footer__coleum {
  display: flex;
  flex-direction: column;
}
.footer__link {
  text-decoration: none;
  color: #5C5C5C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  transition: color 0 0.3s;
}
.footer__link:hover {
  color: #f03328;
}
.footer__column-title {
  width: 230px;
  height: 19px;
  align-self: stretch;
  color: #1F1F1F;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 16px;
}
.footer__lang {
  display: flex;
  align-items: center;
  width: 100%;
}
.footer__lang-list {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.footer__lang-copy {
  margin-left: auto;
}

svg {
  margin-left: 7px;
}

/*# sourceMappingURL=style.css.map */
