.food {
    margin-top: 80px;
    overflow: hidden;
    
    &__grid { 
        padding-top: 80px;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        list-style: none;    
    }

    &__top {
         margin: 26px;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
    }

    &__min {
        padding-bottom: 56px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

    &__price {
        margin-right: 20px;
        color: #000;
        font-size: 34px;
        font-weight: 700;
        line-height: 120%;

        }

    &__item { 
        width: calc(33.333% - 17px);
        border-radius: 18px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
        background: #fff;

  @media (max-width: 1290px) {
            width: calc(50% - 13px); 
        }

         @media (max-width: 950px) {
            width: 100%; 
        }

    }

    &__title {
        color: #000;
        font-size: 31px;
        font-weight: 500;
        line-height: 120%;

          @media (max-width: 450px) {
            font-size: 20px; 
        }
    }
    &__btn {
        padding: 10px 24px;
        border-radius: 38px;
        color: #FFF;
        background: #F03328;
         border: 2px solid #F03328;
        cursor: pointer;
        transition: all 0.3s;
        flex-shrink: 0;
        
        
    &:hover {
        background:transparent;
        color: #F03328;
        
        }
   
   }
  
    &__titl {
        margin: 0 auto;
        max-width: 746px;
        color: #1F1F1F;
        text-align: center;
        font-size: 55px;
        font-weight: 700;
        line-height: 120%;
         white-space: nowrap;

          @media (max-width: 720px) {
            font-size: 34px; 
        }

        
          @media (max-width: 450px) {
            font-size: 17px; 
        }
    }

    &__text {
        margin: 0 auto;
        align-self: stretch;
        color:#5C5C5C;
        text-align: center;
        font-size: 25px;
        font-weight: 400;
        line-height: 120%;

          @media (max-width: 950px) {
            
            font-size: 17px; 
        }
    }

    
}


