.footer {
    margin-top: 64px;
    overflow: hidden;

    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 80px;
    }

    &__form {
        display: flex;
        gap: 12px;
    }

    hr {
        border-top: 1px solid rgba(240, 51, 40, 0.20);
    }

    &__input {
        padding: 12px;
        border: 1px solid #D0D5DD;
        border-radius: 8px;
        font-size: 14px;
        outline: none;
        width: 320.0px;
        height: 44.0px;
    }

    &__title {
        height: 28px;
        align-self: stretch;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        margin: 0%
    }

    &__text {
        width: 524px;
        align-self: stretch;
        color: #5C5C5C;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        margin: 8px 0 32px;

    }

    &__button {
        width: 102px;
        height: 44px;
        padding: 12px 24px;
        color: #fdfdff;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #FDFDFD;
        border-radius: 8px;
        background: #f03328;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            background: transparent;
        }
    }

    &__coleumn {
        display: flex;
        padding-left: 80px;

        &>.footer__coleumn {
            padding: 0;
        }
    }

    &__coleum {
        display: flex;
        flex-direction: column;

        svg {
            margin-left: 7px;
        }
    }

    &__link {
        text-decoration: none;
        color: #5C5C5C;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        transition: color 0 .3s;
        margin: 18px 0 14px 0;
        &:hover {
            color: #f03328;
        }
    }

    &__column-title {
        width: 230px;
        color: #1F1F1F;
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
        margin-bottom: 16px;
    }


    &__lang {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__lang-list {
        display: flex;
        gap: 32px;
        list-style: none;
        margin: 0 auto;
        padding: 0;
    }

    &__lang-copy {
        color: #A6A7AB;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        margin-left: auto;
    }

    &__lang-item {
        color:  #5C5F66;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;

    }

}