.reviews {
        margin-top: 56px;
        overflow: hidden;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 75px;
    }

    &__title {
        width: 458px;
        height: 60px;
        font-size: 50px;
        font-weight: 700;
        line-height: 120%;
    }

    &__text {
        width: 632px;
        height: 192px;
        align-self: stretch;
        color:  #3D3D3D;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;

    }

   &__dots {
        display: flex;
        align-items: center;
        justify-content: space-between;
   }
    
   &__dots-wrapper {
        display: flex;
        justify-content: center;
        gap: 9px;
   }
  
    &__dots-dvt {
        display: flex;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 2px solid red;
        background-color:transparent;

        &:hover{
            background-color: red;
        }
    }
}